@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
    --black: #000;
    --white: #FFF;
    --temp-font: 'Roboto', sans-serif;
    --txt-font: 'Quicksand', sans-serif;
    --animation-color: #00e5ff;
    --animation-time: 4s;
    --std-bg: #263238;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--txt-font);
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    padding-top: 10px;
    margin-top: 20px;
}

footer {
    margin-top: 30px;
}

.main-bg {
    background: var(--std-bg);
    background: linear-gradient(180deg, var(--std-bg) 20%, var(--animation-color) 150%);  
}

.main{
    padding: 20px;
    border-radius: 25px;
}

.input-field input {
    color: var(--white);
    font-weight: 500;
}

.temp-container {
    text-align: center;
    width: 40vmin;
    height: 40vmin;
    border-radius: 50%;
    line-height: 37.5vmin;
    margin: 1em auto;
    position: relative;
    overflow: hidden;
}

.temp-container::before,
.temp-container::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0%;
    background-image: conic-gradient(transparent, transparent, transparent, var(--animation-color));
    animation: animate var(--animation-time) linear infinite;
}

.temp-container::after {
    animation-delay: calc((var(--animation-time) / 2) * -1);
}

.main-temp {
    color: var(--white);
    font-size: 7em;
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    z-index: 1;
}

.btn {
    background-color: var(--animation-color) !important;
}

.card {
    min-height: 200px;
    border-radius: 50px !important;
}

.page-footer, .footer-copyright {
    background: none !important;
}

.fs-8 {
    font-size: 1em !important;
}

.bold-font {
    font-weight: bold !important;
}

.wind {
    padding-top: 1vh;
}

.wind > .img {
    font-size: 5em !important;
}

.sun-set-rise {
    margin-top: 2vh;
}

.sun-set-rise > .img {
    font-size: 3.5em !important;
}

.wind > .txt,
.sun-set-rise > .txt { 
    font-size: 1.5em !important;
}

.margin.top-0 {
    margin-top: 0
}

.margin.top-10 {
    margin-top: 10px
}

.margin.top-20 {
    margin-top: 20px
}

.margin.top-30 {
    margin-top: 30px
}

.margin.hcenter {
    margin-left: auto;
    margin-right: auto;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 425px) {
    .main-temp {
        font-size: 4em;
    }

    .min>.fs-8,
    .max>.fs-8 {
        font-size: 0.59em !important;
    }
}

@media only screen and (min-width: 425px) {
    .main-temp {
        font-size: 5em;
    }

    .min>.fs-8,
    .max>.fs-8 {
        font-size: 0.8em !important;
    }
}

@media only screen and (min-width: 600px) {
    .main-temp {
        font-size: 5em;
    }
    
}

@media only screen and (max-width: 600px) {

    .main-temp {
        font-size: 5em;
    }

    .temp-container {
        width: 50vmin;
        height: 50vmin;
        line-height: 47.5vmin;
    }
    
}


@media only screen and (min-width: 768px) {
    .main-temp {
        font-size: 6em;
    }

    .min>.fs-8,
    .max>.fs-8 {
        font-size: 0.9em !important;
    }

}

@media only screen and (min-width: 992px) {
    .main-temp {
        font-size: 10em;
    }
}

@media only screen and (min-width: 1200px) {
    .main-temp {
        font-size: 9em;
    }
}

@media only screen and (min-width: 1600px) {
    .main-temp {
        font-size: 9em;
    }
}