@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root {
    --black: #000;
    --white: #FFF;
    --temp-font: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;

}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.input-field input {
    color: var(--white);
    font-weight: 500;
}

.temp-container {
    text-align: center;
    width: 40vmin;
    height: 40vmin;
    border-radius: 50%;
    line-height: 35vmin;
    margin: 1em auto;
    position: relative;
    overflow: hidden;
}

.temp-container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0%;
    background-image: conic-gradient(transparent, transparent, transparent, #0FF);
    animation: animate 4s linear infinite;
}

.temp-container::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0%;
    background-image: conic-gradient(transparent, transparent, transparent, #0FF);
    animation: animate 4s linear infinite;
    animation-delay: -2s;
}

.main_temp {
    color: var(--white);
    font-size: 5em;
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    z-index: 1;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 425px) {
    .main_temp {
        font-size: 3em;
    }
}

@media only screen and (min-width: 425px) {
    .main_temp {
        font-size: 3.5em;
    }
}

@media only screen and (min-width: 600px) {
    .main_temp {
        font-size: 4em;
    }
}

@media only screen and (min-width: 768px) {
    .main_temp {
        font-size: 5em;
    }
}

@media only screen and (min-width: 992px) {
    .main_temp {
        font-size: 6em;
    }
}

@media only screen and (min-width: 1200px) {
    .main_temp {
        font-size: 7em;
    }
}

@media only screen and (min-width: 1600px) {
    .main_temp {
        font-size: 8em;
    }
}